body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin : 0 auto;
  background : url(../assets/bg/bg\ selamat\ datang.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width : 100%;
  height : 100%;
}

.title-bar {
  display : flex;
  flex : auto;
  background :rgba(11, 24, 43, 0.9);
}
.image {
  width : 20%;
  min-width : 18rem;
}
.title-bar img {
  width : 100%;
  margin : 0 auto;
}

.navbar {
  display : flex;
  flex : auto;
  margin : 0 auto;
  padding : 0;
}
.nav-items {
  width : 25%;
  list-style-type: none;
  margin : auto;
  text-align : center;
  vertical-align : middle;
  font-size : 1.25rem;
}
.nav-items:hover {
  opacity : 0.8;
  padding : rgba(200, 200, 255, 0.5);
  cursor: pointer;
}

.listed-items-container {
  width : 80%;
  min-width : 700px;
  background : rgba(200, 255, 255, 0.2);
  margin : 2.5rem auto;
  display : flex;
  flex : auto;
  flex-wrap: wrap;
}
.listed-item {
  width : 300px;
  height : 120px;
  list-style-type : none;
  margin : 0.5rem auto;
  padding : 0.5rem;
  background : rgba(200, 200, 200, 0.3);
  display : flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.listed-item img {
  width : 80px;
  height : 80px;
  padding : auto;
  background : burlywood;
}
.item-info {
  height : 100%;
  color : white;
}
.item-name {
  margin : 0 auto;
  margin-bottom : 0.2rem;
}
.item-info p {
  margin : 0 auto;
  padding : 0;
}