body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin : 0 auto;
  background : url(../assets/bg/bg\ selamat\ datang.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width : 100%;
  height : 100%;
}

.title-bar {
  display : flex;
  flex : auto;
  background :rgba(11, 24, 43, 0.9);
}
.image {
  width : 20%;
  min-width : 18rem;
}
.title-bar img {
  width : 100%;
  margin : 0 auto;
}

.navbar {
  display : flex;
  flex : auto;
  margin : 0 auto;
  margin-left : 50%;
  padding : 0;
  width : 30%;
  text-align: right;
}

.logged-out {
  display : flex;
  flex : auto;
}
.logged-in {
  display : flex;
  flex : auto;
}
.navbar a {
  text-align : center;
  vertical-align : middle;
  padding : 1rem 0.5rem;
}
.nav-items {
  list-style-type: none;
  margin : auto;
  font-size : 1.25rem;
  color : white;
}
.navbar a:hover {
  opacity : 0.8;
  background : rgba(200, 200, 255, 0.5);
  cursor: pointer;
}

.listed-items-container {
  width : 80%;
  min-width : 700px;
  background : rgba(200, 255, 255, 0.2);
  margin : 2.5rem auto;
  display : flex;
  flex : auto;
  flex-wrap: wrap;
}
.listed-item {
  width : 300px;
  height : 120px;
  list-style-type : none;
  margin : 0.5rem auto;
  padding : 0.5rem;
  background : rgba(200, 200, 200, 0.3);
  display : flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.listed-item img {
  width : 80px;
  height : 120px;
  padding : 0;
  background : burlywood;
}
.item-info {
  height : 100%;
  color : white;
}
.item-name {
  margin : 0 auto;
  margin-bottom : 0.2rem;
}
.item-info p {
  margin : 0 auto;
  padding : 0;
}
.order-buttons {
  display : flex;
  flex : auto;
  width : 50%;
  margin : 0 auto;
  padding : 0.25rem 0.5rem;
  background : rgba(255, 255, 250, 0.5);
  border-radius : 1rem;
}
.less, .more {
  width : 1.5rem;
  height : 1.5rem;
  background : greenyellow;
  margin : 0 auto;
  border : none;
  border-radius : 0.75rem;
  text-align : center;
}
.less:hover, .more:hover {
  opacity : 0.8;
  cursor : pointer;
}

.ordered {
  position :fixed;
  right: 1rem;
  bottom : 1rem;
  margin : 4rem;
}
.buy-these {
  font-size: 1.5rem;
  background : white;
  border: none;
  border-radius : 1.25rem;
  padding : 0.5rem;
}
.buy-these:hover {
  opacity : 0.8;
  cursor : pointer;
}

