body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin : 0;
  background-image : url(../assets/bg/bg\ sign\ log.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  margin : 1rem auto;
  text-align: center;
  font-size : 3.5rem;
  margin-bottom : 1.5rem;
}

.login-form {
  background :rgba(87, 108, 126, 0.8);
  width : 50%;
  margin : 0 auto;
  padding : 1.5rem;
}

.username, .password {
  margin : 2rem auto;
}
.login-form label {
  font-size : 1.5rem;
  color : rgba(217, 217, 217, 1);
  font-weight: 600;
}
.login-form input {
  font-size : 1.5rem;
  padding : 0.5rem;
  background : none;
  border : none;
  border-bottom : solid 0.3rem rgba(217, 217, 217, 1);
  color : rgba(217, 217, 217, 1);
  margin : 0 auto;
  margin-bottom : 0.5rem;
  width : 90%;
}

.btn-container {
/*  display : flex;
  flex : auto;
  flex-direction: row;
*/
  margin : 0 auto;
  width : 92%;
  margin-top : 2rem;
  text-align: center;
}
.btn-container button {
  font-size : 2rem;
  margin : 1rem auto;
  border : none;
  border-radius : 2rem;
  min-width : 120px;
  padding : 0.5rem 2rem;
  text-align : center;
  background : rgba(174, 185, 193, 1)
}
.btn-container button:hover {
  opacity : 0.8;
  cursor:pointer;
}
.btn-container p {
  margin : 0 auto;
  font-size : 0.8rem;
  color : white;
}
.btn-container a {
  color : white;
}