body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin : 0;
  background-image : url(../assets/bg/bg\ sign\ log.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  margin : 0.5rem auto;
  margin-top : 0.2rem;
  text-align: center;
  font-size : 3rem;
}

.signup-form {
  background :rgba(87, 108, 126, 0.8);
  width : 50%;
  margin : 0 auto;
  padding : 1rem 1.5rem;
}
.signup-form label {
  font-size : 1.25rem;
  color : rgba(217, 217, 217, 1);
  font-weight: 600;
}
.signup-form input {
  font-size : 1.25rem;
  padding : 0.25rem;
  background : none;
  border : none;
  border-bottom : solid 0.3rem rgba(217, 217, 217, 1);
  color : rgba(217, 217, 217, 1);
  margin : 0 auto;
  margin-bottom : 0.5rem;
  width : 90%;
}

.name {
  display : flex;
  width : 100%;
}
.first-name, .last-name {
  width : 45.8%;
  margin-right : 3%;
}

.btn-container {
/*  display : flex;
  flex : auto;
*/
  width : 92%;
  margin : 0 auto;
  text-align: center;
}
.btn-container button {
  font-size : 1.5rem;
  margin : 1rem auto;
  border : none;
  border-radius : 2rem;
  min-width : 120px;
  padding : 0.5rem 2rem;
  text-align : center;
  background : rgba(174, 185, 193, 1);
  margin-bottom : 0.2rem;
}
.btn-container button:hover {
  opacity : 0.8;
  cursor:pointer;
}
.btn-container p {
  font-size : 0.8rem;
  color : white;
  margin : 0 auto;
}
.btn-container a {
  color : white;
}